<?xml version="1.0"?>
<launch>
  <arg name="config" default="true" />
  <arg name="planner" default="ompl" />
  <arg name="use_gui" default="false" />
  <arg name="rviz_config" default="$(find baxter_moveit_config)/launch/moveit.rviz" />

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="true" />
  <!-- Left and right electric gripper params. Set to true to check for collisions for their links -->
  <arg name="right_electric_gripper" default="true" />
  <arg name="left_electric_gripper" default="true" />
  <!-- Set the kinematic tips for the left_arm and right_arm move_groups -->
  <arg name="left_tip_name" default="left_gripper" />
  <arg name="right_tip_name" default="right_gripper" />
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
    <arg name="left_electric_gripper" value="$(arg left_electric_gripper)" />
    <arg name="right_electric_gripper" value="$(arg right_electric_gripper)" />
    <arg name="left_tip_name" value="$(arg left_tip_name)" />
    <arg name="right_tip_name" value="$(arg right_tip_name)" />
  </include>

  <!-- If needed, broadcast static tf for robot root -->
  <!--<node pkg="tf3_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world torso" />-->

  <!-- Publish a static transform between the world and the base of the robot -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_world" args="0 0 0.93 0 0 0 1 world base" />

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="$(arg use_gui)" />
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>
  <node name="joint_state_desired_publisher" pkg="topic_tools" type="relay" args="joint_states joint_states_desired">
    <remap from="/joint_states_desired" to="/robot/joint_states" />
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <arg name="kinect" default="false" />
  <arg name="xtion" default="false" />
  <arg name="camera_link_pose" default="0.15 0.075 0.5 0.0 0.7854 0.0" />
  <include file="$(find baxter_moveit_config)/launch/move_group.launch">
    <arg name="kinect" value="$(arg kinect)" />
    <arg name="xtion" value="$(arg xtion)" />
    <arg name="camera_link_pose" default="$(arg camera_link_pose)" />
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="true" />
    <arg name="planner" value="$(arg planner)" />
  </include>

  <group if="$(arg use_gui)">
    <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="rviz_config" value="$(arg rviz_config)" />
    </include>
  </group>

  <!--<include file="$(find baxter_moveit_config)/launch/default_warehouse_db.launch" />-->
</launch>
